# Исключаем модпак и виртуальное окружение
assets/modpack.zip
modpack.zip
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
manifest.xml

# Logs
*.log
logs/
*.log.gz

# IDE
.idea/
.vscode/
*.code-workspace

# Кеш и конфиги
forge_cache.json
launcher_config.json

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Временные файлы
---------*
git

# Java
assets/jdk-17.0.10_macos-aarch64_bin.dmg
assets/jdk-17.0.10_windows-x64_bin.exe

# Большие файлы
*.zip
MojNovyLauncher.zip