# GUI и основные компоненты
PyQt5>=5.15.9

# Windows-специфичные зависимости
pywin32>=306; platform_system == "Windows"

# Minecraft и моды
minecraft-launcher-lib==7.1
nbtlib==2.0.4

# Сетевые запросы и утилиты
requests==2.31.0
random-username==1.0.2

# Для сборки
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0

# Для работы с файлами и системой
psutil==5.9.8

